# Secrets and caches
.env
.env.docker

# Caches and temp files
.venv
__pycache__
.python-version
.DS_Store
._*
*.backup
nohup.out

# installation artifacts
node_modules
pdfjs

# Debug logs
log/

# Ignore data files by default
data/*
# But not these specific directories/files
!data/pdf/example/
!data/tei/example/
!data/versions/.gitignore

# Smart test runner cache
tests/test-dependencies.json

# Build artifacts
app/web/app.js
app/web/templates.json
app/web/assets/
