<sl-dialog name="editMetadataDialog" label="Edit File Metadata">
  <div class="dialog-column">
    <sl-input name="docTitle" label="Document Title" size="small" help-text="From TEI header titleStmt/title" readonly></sl-input>
    <sl-input name="label" label="Extraction Label" size="small" help-text="From TEI header editionStmt/edition/title"></sl-input>
    <sl-input name="source" label="Source" size="small" help-text="From TEI header sourceDesc/bibl"></sl-input>
  </div>
  <sl-button slot="footer" name="cancel" variant="neutral">Cancel</sl-button>
  <sl-button slot="footer" name="submit" variant="primary">Save Changes</sl-button>
</sl-dialog>
