<sl-dialog name="extractionOptions" label="Extraction options">
  <div class="dialog-column">
    <sl-input name="doi" label="DOI" size="small" help-text="Please enter the DOI of the document to add document metadata"></sl-input>
    <div>
      <sl-select name="collectionName" label="Collection" size="small" help-text="Choose the collection to which the extraction will be added"></sl-select>
      <!--<sl-button name="newCollectionBtn" label="New collection" size="small">New collection</sl-button>-->
    </div>
    <sl-select name="modelIndex" label="Extractor" size="small" help-text="Choose the extraction engine" value="llamore">
      <sl-option value="llamore">Llamore</sl-option>
    </sl-select>
    <div name="dynamicOptions" class="dialog-column">
      <!-- Dynamic extractor-specific options will be inserted here -->
    </div>
  </div>
  <sl-button slot="footer" name="cancel" variant="neutral">Cancel</sl-button>
  <sl-button slot="footer" name="submit" variant="primary">Extract</sl-button>  
</sl-dialog>