<style>
    #floating-panel {
        position: absolute;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        width: auto;
        height: auto;
        padding: 20px;
        top: 70vh;
        left: 100px;
        background-color: rgba(167, 158, 158, 0.8);
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    #floating-panel  * {
        font-size: small;
    }

    #floating-panel > div {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    #floating-panel > div > * {
        display: inline;
    }      
</style>
<div id="floating-panel" name="floatingPanel">
<div>
    <span class="navigation-text">Navigate by</span>
    <select name="xpath"></select>
    <button name="editXpath" style="display:none">Custom XPath</button>
    <button name="previousNode" disabled>&lt;&lt;</button>
    <span name="selectionIndex" class="navigation-text"></span>
    <button name="nextNode" disabled>&gt;&gt;</button>
</div>
<div name="markNodeButtons">
    <span class="navigation-text">Mark node as</span>
    <button class="node-status" data-status="verified" disabled>Verified</button>
    <button class="node-status" data-status="unresolved" disabled>Unresolved</button>
    <button class="node-status" data-status="" disabled>Clear node</button>
    <!-- button class="node-status" data-status="comment" disabled>Add comment</button-->
</div>
<div>
    <custom-switch name="switchAutoSearch" label="Find node" label-on="On" label-off="off"></custom-switch>
    <span name="diffNavigation">
    <button name="prevDiff" disabled>Prev. Diff</button>
    <button name="nextDiff" disabled>Next Diff</button>
    <button name="diffKeepAll" disabled>Reject all changes</button>
    <button name="diffChangeAll" disabled>Accept all changes</button>
    </span>
</div>
</div>