<sl-dialog name="promptEditor" label="Edit prompt" class="dialog-big">
  <p>Below are the parts of the LLM prompt specific to the reference instruction.</p>
  <div class="dialog-column">
    <div class="dialog-row">
      <sl-input name="label" help-text="A short description of the prompt additions"></sl-input>
      <sl-dropdown>
        <sl-button slot="trigger" caret></sl-button>
        <sl-menu name="labelMenu"></sl-menu>
      </sl-dropdown>
    </div>
    <sl-textarea name="text" rows="20"></sl-texarea>
  </div>
  <sl-button slot="footer" name="cancel" variant="neutral">Cancel</sl-button>
  <sl-button slot="footer" name="delete" disabled variant="danger">Delete prompt</sl-button>
  <sl-button slot="footer" name="duplicate" variant="secondary">Duplicate prompt</sl-button>
  <sl-button slot="footer" name="submit" variant="primary">Save &amp; Close</sl-button>
</sl-dialog>