<sl-dialog name="newRevisionChangeDialog" label="Add a change description">
  <div class="dialog-column">
    Document changes to this document in the TEI header
    <sl-input name="persId" label="Username" size="small"></sl-input>
    <sl-input name="persName" label="Full Name" size="small"></sl-input>
    <sl-input name="changeDesc" label="Description" size="small" help-text="Description of the change"></sl-input>
    <sl-select name="status" label="Status" size="small" value="draft">
    </sl-select>
    <sl-checkbox name="saveAsGold" style="margin-top: 1rem;">Save as Gold Version</sl-checkbox>
  </div>
  <sl-button slot="footer" name="cancel" variant="neutral">Cancel</sl-button>
  <sl-button slot="footer" name="submit" variant="primary">Add</sl-button>
</sl-dialog>