<!-- TEI Tools statusbar widgets -->
<sl-tooltip content="Toggle teiHeader visibility">
  <status-text text="Header" variant="neutral" style="display: none; margin-right: 0.25rem;" name="teiHeaderLabel"></status-text>
  <status-switch
    name="teiHeaderToggleWidget"
    icon="person-gear"
    variant="neutral"
    style="display: none">
  </status-switch>
</sl-tooltip>

<sl-tooltip content="Show revision history">
  <status-button
    name="revisionHistoryBtn"
    icon="clock-history"
    variant="neutral"
    style="display: none">
  </status-button>
</sl-tooltip>
