<!-- User Menu Button Group -->
<sl-button-group label="User" name="userMenuGroup">
  <sl-dropdown name="userDropdown" placement="bottom-end">
    <sl-button name="userBtn" size="small" slot="trigger" caret>
      <sl-icon name="person"></sl-icon>
    </sl-button>
    <sl-menu name="userMenu">
      <sl-menu-item name="profileMenuItem">
        <sl-icon slot="prefix" name="person-circle"></sl-icon>
        User Profile
      </sl-menu-item>
      <sl-divider></sl-divider>
      <sl-menu-item name="logoutMenuItem">
        <sl-icon slot="prefix" name="power"></sl-icon>
        Logout
      </sl-menu-item>
    </sl-menu>
  </sl-dropdown>
</sl-button-group>
