<!-- XML Editor toolbar widgets -->
<status-separator variant="vertical"></status-separator>
<status-button
  name="prevDiffBtn"
  icon="chevron-bar-up"
  tooltip="Previous diff"
  action="xml-prev-diff">
</status-button>
<status-button
  name="nextDiffBtn"
  icon="chevron-bar-down"
  tooltip="Next diff"
  action="xml-next-diff">
</status-button>

<status-separator variant="vertical"></status-separator>
<status-button
  name="rejectAllBtn"
  icon="x-circle"
  tooltip="Reject all changes"
  action="xml-reject-all">
</status-button>
<status-button
  name="acceptAllBtn"
  icon="check-circle"
  tooltip="Accept all changes"
  action="xml-accept-all">
</status-button>
