name: Build and Push Docker Image

on:
  push:
    tags:
      - 'v*'
  workflow_call:

concurrency:
  group: ${{ github.ref }}
#  cancel-in-progress: true


jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      - name: Create more disk space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
      - uses: actions/checkout@v2

      - name: Extract version from tag
        id: version
        run: |
          if [[ "${{ github.ref }}" == refs/tags/* ]]; then
            echo "tag=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
            echo "is_tag=true" >> $GITHUB_OUTPUT
          else
            echo "tag=latest" >> $GITHUB_OUTPUT
            echo "is_tag=false" >> $GITHUB_OUTPUT
          fi

      - name: Build and push
        id: docker_build
        uses: mr-smithers-excellent/docker-build-push@v5
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          image: ${{ secrets.DOCKERHUB_USERNAME }}/pdf-tei-editor
          registry: docker.io
          pushImage: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.version.outputs.is_tag == 'true' && format('{0},latest', steps.version.outputs.tag) || 'latest' }}

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
