body {
  font-family: sans-serif;
  height: calc(100vh - 50px); /* I have no idea why I need this offset */
  width: calc(100vw - 40px);
}

.hidden {
  visibility: hidden;
}

.hbox-with-gap {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  gap: 10px;
}


#container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  width: 100%;
}

#command-bar{
  height: 50px;
  font-size: small;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;  
}

#editors {
  display: flex;
  flex-direction: row;
  margin: 0px;
  gap: 10px;
  width: 100%;
  height: 100%
}

#pdf-viewer {
  width: 50%;
  border: 1px solid #ccc;
  position: relative;
  overflow: hidden;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  /* Remove iframe border */
}

#xml-editor {
  width: 50%;
  border: 1px solid #ccc;
}

#xml-editor>div {
  height: 100%;
}

/* Shoelace library */

:not(:defined) {
  visibility: hidden;
}

sl-dialog {
  --header-spacing: var(--sl-spacing-small);
  --body-spacing: var(--sl-spacing-small);
  --footer-spacing: var(--sl-spacing-small);
}

.dialog-big {
  --width: 75vw;
}

.dialog-column {
  display: flex; 
  flex-direction: column;
  gap: 10px;
}

.dialog-row {
  display: flex block; 
  flex-direction: row;
  gap: 10px;
}

sl-select::part(form-control-label) {
  font-size: smaller;
  color: var(--sl-color-gray-500)
}

sl-select::part(display-input) {
  caret-color: transparent !important;
  font-size: smaller;
}

sl-select::part(listbox) {
  width: max-content;
}

sl-option::part(label), 
sl-menu-item::part(label) {
  font-size: smaller;
}

#command-bar sl-button::part(base) {
  margin-top: 12px;
}

#command-bar sl-button-group[label]:before {
  content: attr(label);
  position: absolute; /* Or relative, depending on your context */
  top: -3px;
  left: 0;
  color: var(--sl-color-gray-500);
  font-size: smaller; /* Optional: Adjust font size for the label */
  white-space: nowrap; /* Prevent wrapping */
  display: block; /*Crucial for positioning and showing the content*/
}

sl-button-group[label] {
  position: relative; /* To contain the absolute positioning of the :before pseudo-element */
}