body {
  font-family: sans-serif;
  height: calc(100vh - 50px); /* I have no idea why I need this offset */
  width: calc(100vw - 40px);
}

.hidden {
  visibility: hidden;
}

#container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  width: 100%;
}

#command-bar{
  height: 30px;
  font-size: small;
  display: flex;
  align-items: center;
  gap: 10px;  
}

#command-bar > button {
  font-size: small;
}

#editors {
  display: flex;
  flex-direction: row;
  margin: 0px;
  gap: 10px;
  width: 100%;
  height: 100%
}

#pdf-viewer {
  width: 50%;
  border: 1px solid #ccc;
  position: relative;
  overflow: hidden;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  /* Remove iframe border */
}

#xml-editor {
  width: 50%;
  border: 1px solid #ccc;
}

#xml-editor>div {
  height: 100%;
}

/* Shoelace library */

.dialog-form {
  display: flex; 
  flex-direction: column;
  gap:10px
}

.dialog-big {
  --height: 75vh;
}

sl-dialog {
  --header-spacing: var(--sl-spacing-small);
  --body-spacing: var(--sl-spacing-small);
  --footer-spacing: var(--sl-spacing-small);
}

